.contact-link,
.logo-link,
.nav-link{
  padding: 5px;
  transition: transform .3s;
}
/* .nav-link:hover{
  transform: rotate3d(1, 2.0, 3.0, 10deg);
  transition: transform .3s;
} */

.logo-container:hover .logo-link,
.contact-container:hover .contact-link,
.nav-container:hover .nav-link{
  transform: rotate3d(1, 2.0, 3.0, -5deg);
}


nav {
  margin: 0 12rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}